
<!DOCTYPE HTML>

<html>

<head>
	<meta charset="utf-8">
	<title>Django1.7开发博客（11）- 富文本与代码高亮 - 笨跑的一刀</title>
	<meta name="author" content="熊能">

	
	<meta name="description" content="2015-04-21 18:27 django, simpleblog Django1.7开发博客（11）- 富文本与代码高亮 TinyMCE介绍
TinyMCE是一个轻量级的基于浏览器的所见即所得编辑器，支持目前流行的各种浏览器，由JavaScript写成。
功能配置灵活简单（ &hellip;">
	

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/atom.xml" rel="alternate" title="笨跑的一刀" type="application/atom+xml">
	
	<link rel="canonical" href="http://yidao620c.github.io/blog/20150421/simpleblog-11.html">
	<link href="/favicon.png" rel="shortcut icon">
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link href='http://fonts.useso.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
	<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
	<!-- MathJax Configuration -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  MathMenu: {
      showLocale: false
  },
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});

</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"
        type="text/javascript"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c73136a63585c1ce97569b331e723c0e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

  
<!--
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63450256-1', 'auto');
    ga('send', 'pageview');

</script>
&#8211;>
</head>


<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
			<header id="header" class="inner"><div class="profilepic">
	<img src="/images/profile.jpg" alt="Profile Picture" style="width: 160px;" />
</div>
<hgroup>
  <h1><a href="/">笨跑的一刀</a></h1>
  
    <h2>Code is sexy, like Amy</h2>
  
</hgroup>
<nav id="main-nav"><ul class="main">
    <li><a href="/">Home</a></li>
	<li><a href="/blog/categories">标签云</a></li>
	<li><a href="/blog/archives">文章列表</a></li>
    <li><a href="/blog/comments">最新评论</a></li>
    <li><a href="/opensource/">开源项目</a></li>
    <li><a href="/about">About</a></li>
</ul>
</nav>
<nav id="sub-nav">
	<div class="social">
		
			<a class="email" href="mailto:yidao620@gmail.com" title="Email">Email</a>
		
		
		
			<a class="google" href="https://plus.google.com/yidao620@gmail.com" rel="author" title="Google+">Google+</a>
		
		
			<a class="twitter" href="http://twitter.com/yidao620@gmail.com" title="Twitter">Twitter</a>
		
		
			<a class="github" href="https://github.com/yidao620c" title="GitHub">GitHub</a>
		
		
		
		
		
		
		
		
		
		
    	
    	
			<a class="rss" href="/atom.xml" title="RSS">RSS</a>
		
	</div>
</nav>
</header>				
			</div>
		</div>	
		<div class="mid-col">
			
				
			
			<div class="mid-col-container">
				<div id="content" class="inner"><article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


2015-04-21 18:27</div>
		<div class="tags">


	<a class='category' href='/blog/categories/django/'>django</a>, <a class='category' href='/blog/categories/simpleblog/'>simpleblog</a>


</div>
	</div>
	<h1 class="title" itemprop="name">Django1.7开发博客（11）- 富文本与代码高亮</h1>
	<div class="entry-content" itemprop="articleBody"><h2 id="tinymce">TinyMCE介绍</h2>
<p>TinyMCE是一个轻量级的基于浏览器的所见即所得编辑器，支持目前流行的各种浏览器，由JavaScript写成。
功能配置灵活简单（两行代码就可以将编辑器嵌入网页中），支持AJAX。另一特点是加载速度非常快。</p>

<p>django里引用TinyMCE富文本编辑器，其实很简单，前提是你知道django的静态文件配置。
其实这个我已经在前面文章提到过，可以回去再看看。</p>

<p>TinyMCE的官方网站是：<a href="http://www.tinymce.com/">http://www.tinymce.com/</a></p>

<p>下载地址：<a href="http://download.moxiecode.com/tinymce/tinymce_4.1.9.zip">http://download.moxiecode.com/tinymce/tinymce_4.1.9.zip</a></p>

<p>TinyMCE的最新版本是4.1.9，下面是官网截屏：</p>

<p><img src="http://yidaospace.qiniudn.com/tinymce.png" alt="" /></p>

<p>下载下来后，我们把它解压到工程的static/目录下面，如下图所示：<!--more--></p>

<p><img src="http://yidaospace.qiniudn.com/dj101.png" alt="" /></p>

<h2 id="section">安装原理</h2>
<p>安装的原理很简单，只需要在使用编辑器的页面里引用tinymce.min.js文件并初始化就可以了。
tinymce.min.js文件在tinymce项目里，
tinymce.min.js会根据初始配置里的信息找到需要用编辑器的html节点。</p>

<p>例如在post_edit.html页面使用编辑器，只需要在模板文件写下：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
<span class="line-number">14</span>
<span class="line-number">15</span>
<span class="line-number">16</span>
<span class="line-number">17</span>
<span class="line-number">18</span>
<span class="line-number">19</span>
<span class="line-number">20</span>
</pre></td><td class="code"><pre><code class="html"><span class="line">{% load staticfiles %}
</span><span class="line">{% block header %}
</span><span class="line">    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;{% static &#39;tinymce/plugins/upload/plugin.css&#39; %}&quot;</span><span class="nt">&gt;</span>
</span><span class="line">    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;tinymce/tinymce.min.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line">    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
</span><span class="line">        <span class="nx">tinymce</span><span class="p">.</span><span class="nx">init</span><span class="p">({</span>
</span><span class="line">            <span class="nx">selector</span><span class="o">:</span> <span class="s2">&quot;textarea&quot;</span><span class="p">,</span>
</span><span class="line">            <span class="c1">//width: 800,</span>
</span><span class="line">            <span class="nx">height</span><span class="o">:</span> <span class="mi">300</span><span class="p">,</span>
</span><span class="line">            <span class="nx">forced_root_block</span><span class="o">:</span> <span class="kc">false</span><span class="p">,</span>
</span><span class="line">            <span class="nx">plugins</span><span class="o">:</span> <span class="p">[</span>
</span><span class="line">                <span class="s2">&quot;advlist autolink lists link image charmap print preview anchor sh4tinymce upload&quot;</span><span class="p">,</span>
</span><span class="line">                <span class="s2">&quot;searchreplace visualblocks code fullscreen&quot;</span><span class="p">,</span>
</span><span class="line">                <span class="s2">&quot;insertdatetime table contextmenu paste&quot;</span>
</span><span class="line">            <span class="p">],</span>
</span><span class="line">            <span class="nx">toolbar</span><span class="o">:</span> <span class="s2">&quot;insertfile undo redo | styleselect | bold italic | alignleft aligncenter&quot;</span> <span class="o">+</span>
</span><span class="line">            <span class="s2">&quot; alignright alignjustify | bullist numlist outdent indent | preview link image sh4tinymce&quot;</span>
</span><span class="line">        <span class="p">});</span>
</span><span class="line">    <span class="nt">&lt;/script&gt;</span>
</span><span class="line">{% endblock %}
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>这段代码的含义是 初始化 tinyMCE编辑器，selector指需要将编辑器显示在html那个标签节点，
这里选了textareas。则表示<textareas>会变成编辑器所在的位置。</textareas></p>

<p>另外，我还自定义一下编辑器的高度、插件、菜单项目等。具体详细配置请参考官方文档，写的都比较清楚。</p>

<h2 id="tinymceaddmore">给TinyMCE增加一个addmore插件</h2>
<p>需求很简单，就是每次我写文章的时候需要插入某个<code>&lt;!--more--&gt;</code>标签，
这样可以在列表页面先只显示文章的一部分，然后碰到这个more标签就显示一个”点击阅读更多”的链接。</p>

<p>第一步，在tinymce/plugins文件下新增一个addmore文件夹，然后在里面新建一个plugin.min.js文件，
内容如下：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
<span class="line-number">14</span>
</pre></td><td class="code"><pre><code class="html"><span class="line">tinymce.PluginManager.add(&quot;addmore&quot;, function (a) {
</span><span class="line">    a.addCommand(&quot;InsertMoreRule&quot;, function () {
</span><span class="line">        a.execCommand(&quot;mceInsertContent&quot;, !1, &quot;[!--more--]&quot;)
</span><span class="line">    }), a.addButton(&quot;addmore&quot;, {
</span><span class="line">        icon: &quot;addmore&quot;,
</span><span class="line">        tooltip: &quot;Insert More&quot;,
</span><span class="line">        cmd: &quot;InsertMoreRule&quot;
</span><span class="line">    }), a.addMenuItem(&quot;addmore&quot;, {
</span><span class="line">        icon: &quot;addmore&quot;,
</span><span class="line">        text: &quot;Insert More&quot;,
</span><span class="line">        cmd: &quot;InsertMoreRule&quot;,
</span><span class="line">        context: &quot;insert&quot;
</span><span class="line">    })
</span><span class="line">});
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>在post_edit.html中修改tinymce.init方法，plugins项目后面添加一个addmore：</p>

<pre><code>...
plugins: [
    "advlist autolink lists link image charmap print preview anchor sh4tinymce upload",
    "searchreplace visualblocks code fullscreen",
    "insertdatetime table contextmenu paste addmore"
],
...
</code></pre>

<p>再看看效果，没问题了。</p>

<h2 id="syntaxhighlighter">SyntaxHighlighter代码高亮</h2>
<p>程序员写博客当然少不了代码高亮，这个功能页很容易实现。有一款插件叫SyntaxHighlighter值的推荐。</p>

<p>项目主页：<a href="http://alexgorbatchev.com/SyntaxHighlighter/">http://alexgorbatchev.com/SyntaxHighlighter/</a></p>

<p>下载地址：<a href="http://alexgorbatchev.com/SyntaxHighlighter/download/download.php?sh_current">http://alexgorbatchev.com/SyntaxHighlighter/download/download.php?sh_current</a></p>

<p>下载下来后直接解压到static/目录下面，这个跟tinymce是一样的原理。</p>

<p><strong>使用方法</strong></p>

<p>只需要修改django页面的基础模板就行了，非常简单。</p>

<p>打开mysite/templates/mysite/base.html页面，引入syntaxhighlighter：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
<span class="line-number">14</span>
<span class="line-number">15</span>
<span class="line-number">16</span>
<span class="line-number">17</span>
<span class="line-number">18</span>
<span class="line-number">19</span>
<span class="line-number">20</span>
<span class="line-number">21</span>
<span class="line-number">22</span>
<span class="line-number">23</span>
<span class="line-number">24</span>
<span class="line-number">25</span>
<span class="line-number">26</span>
<span class="line-number">27</span>
<span class="line-number">28</span>
<span class="line-number">29</span>
<span class="line-number">30</span>
<span class="line-number">31</span>
<span class="line-number">32</span>
<span class="line-number">33</span>
<span class="line-number">34</span>
<span class="line-number">35</span>
</pre></td><td class="code"><pre><code class="html"><span class="line">{% load staticfiles %}
</span><span class="line">{% load i18n %}
</span><span class="line"><span class="nt">&lt;html&gt;</span>
</span><span class="line"><span class="nt">&lt;head&gt;</span>
</span><span class="line">    <span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">&quot;Content-Type&quot;</span> <span class="na">content=</span><span class="s">&quot;text/html;charset=utf-8&quot;</span><span class="nt">/&gt;</span>
</span><span class="line">    <span class="c">&lt;!-- Latest compiled and minified CSS --&gt;</span>
</span><span class="line">    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;{% static &#39;css/bootstrap.min.css&#39; %}&quot;</span><span class="nt">&gt;</span>
</span><span class="line">    <span class="c">&lt;!-- Optional theme --&gt;</span>
</span><span class="line">    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;{% static &#39;css/bootstrap-theme.min.css&#39; %}&quot;</span><span class="nt">&gt;</span>
</span><span class="line">    <span class="c">&lt;!-- Blog CSS--&gt;</span>
</span><span class="line">    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;{% static &#39;css/blog.css&#39; %}&quot;</span><span class="nt">&gt;</span>
</span><span class="line">    <span class="nt">&lt;link</span> <span class="na">type=</span><span class="s">&quot;text/css&quot;</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/styles/shCoreDefault.css&#39; %}&quot;</span><span class="nt">/&gt;</span>
</span><span class="line">    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shCore.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line">    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span><span class="nx">SyntaxHighlighter</span><span class="p">.</span><span class="nx">all</span><span class="p">();</span><span class="nt">&lt;/script&gt;</span>
</span><span class="line">    <span class="c">&lt;!-- Latest compiled and minified JavaScript --&gt;</span>
</span><span class="line">    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;{% static &#39;js/jquery-1.11.1.min.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line">    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;{% static &#39;js/base.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line">    <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;{% static &#39;js/bootstrap.min.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line">    {% block header %}
</span><span class="line">    {% endblock %}
</span><span class="line">    <span class="nt">&lt;title&gt;</span>{% trans &#39;Simple Blog&#39;%}<span class="nt">&lt;/title&gt;</span>
</span><span class="line"><span class="nt">&lt;/head&gt;</span>
</span><span class="line"><span class="nt">&lt;body</span> <span class="na">class=</span><span class="s">&quot;customize-support&quot;</span><span class="nt">&gt;</span>
</span><span class="line">中间省略...
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushJScript.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushBash.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushPhp.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushJava.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushSql.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushXml.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushPython.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushCss.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;script </span><span class="na">class=</span><span class="s">&quot;javascript&quot;</span> <span class="na">src=</span><span class="s">&quot;{% static &#39;syntaxhighlighter/scripts/shBrushCpp.js&#39; %}&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class="line"><span class="nt">&lt;/body&gt;</span>
</span><span class="line"><span class="nt">&lt;/html&gt;</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>由于我们之前已经安装过了TinyMCE，这个跟它结合起来就非常好用了，因为TinyMCE自带有选择代码语言功能。</p>

<p>下面是我创建文章时，插入了一段python代码的示例：</p>

<p><img src="http://yidaospace.qiniudn.com/dj102.png" alt="" /></p>

<p>这个是保存后的效果：</p>

<p><img src="http://yidaospace.qiniudn.com/dj103.png" alt="" /></p>

<h2 id="section-1">最后一件事</h2>
<p>别忘了部署到Heroku上面和别人分享你的成果。</p>

<p>OK，到此为止，前台的各种功能已经差不多了，你能一直坚持学到这里很不错了，为你自己鼓掌吧。</p>

<p>后面还有一个重头戏，就是django的后台管理，我选择了更美观更好用的xamdin，敬请期待…</p>

</div>

</article>

  <section id="comments">
   <!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="/blog/20150421/simpleblog-11" data-title="Django1.7开发博客（11）- 富文本与代码高亮" data-url="http://yidao620c.github.io/blog/20150421/simpleblog-11.html"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"yidao620c"};
    (function() {

        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
     })();
 </script>
 <!-- 多说公共JS代码 end -->
  </section>
</div>
			</div>
			<footer id="footer" class="inner">
    Copyright &copy; 2015

熊能


    Design credit: <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a>

</footer>
		</div>
	</div>
	







</body>
</html>
